<div class="chats__nav chats-nav">
	{{{ settingsLink }}}
	{{{ searchInput }}}
</div>
<div class="chats__body">
	<ul class="chats-list">
		{{#if searching}}
			{{#if searchResults}}
				{{#each searchResults}}
					<li data-chat-id="{{ this.id }}" class="chats-item chats-list__item">
						<div class="chats-item__avatar avatar">
							<img class="avatar__image" src="https://ya-praktikum.tech/api/v2/resources{{ this.avatar }}" onerror="this.style.display = 'none'" alt="{{this.login}} avatar">
						</div>
						<div class="chats-item__content">
							<div class="chats-item__info">
								<p class="chats-item__user">{{ this.display_name }}</p>
							</div>
							<p class="chats-item__message">@{{this.login}}</p>
						</div>
					</li>
				{{/each}}
			{{else}}
				<li class="chats-item chats-item_empty chats-list__item">
					<div class="chats-item__avatar avatar"></div>
					<div class="chats-item__content">
						<div class="chats-item__info">
							<p class="chats-item__user">No results</p>
						</div>
						<p class="chats-item__message">Try to change typings or invite your friends</p>
					</div>
				</li>
			{{/if}}
		{{else}}
			{{#if chats}}
				{{#each chats}}
					<li data-chat-id="{{ this.id }}" class="chats-item chats-list__item">
						<div class="chats-item__avatar avatar">
							<img class="avatar__image" src="{{ this.user.avatar }}" onerror="this.style.display = 'none'" alt="{{this.user.name}} avatar">
						</div>
						<div class="chats-item__content">
							<div class="chats-item__info">
								<p class="chats-item__user">{{ this.user.displayName }}</p>
								<span class="chats-item__time">{{ this.lastMessage.humanDate }}</span>
							</div>
							<p class="chats-item__message {{#if unreadMessages}}chats-item__message_unread{{/if}}" data-unread="{{ this.unreadMessages }}">{{ this.lastMessage.value }}</p>
						</div>
					</li>
				{{/each}}
			{{else}}
				<li class="chats-item chats-item_empty chats-list__item">
					<div class="chats-item__avatar avatar"></div>
					<div class="chats-item__content">
						<div class="chats-item__info">
							<p class="chats-item__user">Chats list is empty</p>
						</div>
						<p class="chats-item__message">Search a user to start messaging</p>
					</div>
				</li>
			{{/if}}
		{{/if}}
	</ul>
</div>
