<span class="default-input__label">{{#if error}}{{ error }}{{else}}{{ label }}{{/if}}</span>

<div class="default-input__wrapper">
	<input type="{{#if type}}{{ type }}{{else}}text{{/if}}"
		   class="default-input__input"
		   placeholder="{{ placeholder }}"
		   name="{{ name }}"
		   value="{{ value }}"
		   {{#if disabled}}disabled{{/if}}
	>
</div>
