{{{ photoInput }}}
<h2 class="settings__name">{{ userData.name }} {{ userData.lastName }}</h2>

<div class="settings__info form">
	<div class="form__items">
		<div class="form__item">
			{{{ displayNameInput }}}
		</div>
		<div class="form__item">
			{{{ loginInput }}}
		</div>
		<div class="form__item form__item_cut">
			{{{ firstNameInput }}}
		</div>
		<div class="form__item form__item_cut">
			{{{ secondNameInput }}}
		</div>
		<div class="form__item form__item_cut">
			{{{ emailInput }}}
		</div>
		<div class="form__item form__item_cut">
			{{{ phoneInput }}}
		</div>
	</div>
	<div class="form__submit settings__tools">
		{{{ editButton }}}
		{{{ changePasswordButton }}}
	</div>
	<div class="form__bottom settings__logout">
		{{{ logoutButton }}}
	</div>
</div>
