<h1 class="form__title form__title_subtitled">Sign up</h1>
<p class="form__subtitle">Create account to start messaging</p>
<div class="form__items">
	<div class="form__item">
		{{{ loginInput }}}
	</div>
	<div class="form__item form__item_cut">
		{{{ nameInput }}}
	</div>
	<div class="form__item form__item_cut">
		{{{ lastnameInput }}}
	</div>
	<div class="form__item">
		{{{ emailInput }}}
	</div>
	<div class="form__item">
		{{{ phoneInput }}}
	</div>
	<div class="form__item">
		{{{ passwordInput }}}
	</div>
</div>
<div class="form__submit">
	{{{ submitButton }}}
</div>
<div class="form__bottom">
	<p class="form__bottom-notion">Already have an account?</p>
	{{{ authLink }}}
</div>
